.footer {
  background: 
  rgb(23, 63, 23);
  height: 100px;
  position: relative;
  color: rgb(14, 10, 10);
  overflow: auto;
}

.footer > .bottom {
  position: ;align-self: auto;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgb(23, 63, 23) 161, 56);
  padding: 8px;
  font-weight: 600;
}

.footer > .bottom > img {
  width: 20px;
  position: relative;
  top: 3px;
  left: 2px;
}
